<!DOCTYPE html>
<html>
<head>


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Load external CSS styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/gallery.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" >
</head>
<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home#top" name="top"><img src="https://www.iplt20.com/assets/images/ipl-logo-new-old.png"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="home#top" name="top">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#about-us" name="about-us">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#teams" name="teams">TEAMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prediction">PREDICT SCORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#footer" name="footer">CONTACT US</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
        </section>

<!-- MAIN (Center website) -->
<section style="background-color:#5F9EA0;">
<div class="main">

<h1><center><b>INDIAN
PREMIER
LEAGUE</b></center></h1>
<hr>

<h1><center>GALLERY</center></h1>
 
<div id="myBtnContainer"><center>
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Teams')"> Teams</button>
  <button class="btn" onclick="filterSelection('Champions')"> Champions</button>
  <button class="btn" onclick="filterSelection('Trophy')"> Trophy</button>
</center>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column Teams">
    <div class="content">
      <img src="./static/img/t1.jpg" alt="Mountains" style="width:100%" height="200">
   
    </div>
  </div>
  <div class="column Teams">
    <div class="content">
    <img src="./static/img/t2.jpg" alt="Lights" style="width:100%" height="200">
     
    </div>
  </div>
  <div class="column Teams">
    <div class="content">
    <img src="./static/img/t3.jpg" alt="Nature" style="width:100%" height="200">
   
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t4.jpg" alt="Nature" style="width:100%" height="200">
   
    </div>
  </div>
  <div class="column Teams">
    <div class="content">
    <img src="./static/img/t5.jpg" alt="Nature" style="width:100%" height="200">
 
    </div>
  </div>

<div class="column Teams">
    <div class="content">
    <img src="./static/img/t6.jpg" alt="Nature" style="width:100%" height="200">
      
    </div>
  </div>

<div class="column Teams">
    <div class="content">
    <img src="./static/img/t7.jpg" alt="Nature" style="width:100%" height="200">
     
    </div>
  </div>

<div class="column Teams">
    <div class="content">
    <img src="./static/img/t8.jpg" alt="Nature" style="width:100%" height="200">
 
    </div>
  </div>

<div class="column Teams">
    <div class="content">
    <img src="./static/img/t9.jpg" alt="Nature" style="width:100%" height="200">
    
    </div>
  </div>

<div class="column Teams">
    <div class="content">
    <img src="./static/img/t10.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t11.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t12.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t13.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t14.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t15.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t16.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t17.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t18.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t19.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>
<div class="column Teams">
    <div class="content">
    <img src="./static/img/t20.jpg" alt="Nature" style="width:100%" height="200">
    </div>
  </div>

  <div class="column Champions">
    <div class="content">
      <img src="./static/img/c1.jpg" alt="Car" style="width:100%" height="200">
    
    </div>
  </div>
  <div class="column Champions">
    <div class="content">
      <img src="./static/img/c2.jpg" alt="Car" style="width:100%" height="200">
      
    </div>
  </div>
  <div class="column Champions">
    <div class="content">
      <img src="./static/img/c3.jpg" alt="Car" style="width:100%" height="200">
      
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c4.jpg" alt="Car" style="width:100%" height="200">
   
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c5.jpg" alt="Car" style="width:100%" height="200">
     
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c6.jpg" alt="Car" style="width:100%" height="200">
      
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c7.jpg" alt="Car" style="width:100%" height="200">
   
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c8.jpg" alt="Car" style="width:100%" height="200">
   
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c9.jpg" alt="Car" style="width:100%" height="200">
      
    </div>
  </div>

<div class="column Champions">
    <div class="content">
      <img src="./static/img/c10.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c11.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c12.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c13.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c14.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c15.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c16.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c17.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c18.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c19.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>
<div class="column Champions">
    <div class="content">
      <img src="./static/img/c20.jpg" alt="Car" style="width:100%" height="200">
    </div>
  </div>

  <div class="column Trophy">
    <div class="content">
      <img src="./static/img/r1.jpg" alt="Car" style="width:100%" height="200">
     
     
    </div>
  </div>
 <div class="column Trophy">
    <div class="content">
      <img src="./static/img/r2.jpg" alt="Car" style="width:100%" height="200">
      
      
    </div>
  </div>
  <div class="column Trophy">
    <div class="content">
      <img src="./static/img/r3.jpg" alt="Car" style="width:100%" height="200">
      
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r4.jpg" alt="Car" style="width:100%" height="200">
     
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r5.jpg" alt="Car" style="width:100%" height="200">
      
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r6.jpg" alt="Car" style="width:100%" height="200">
     
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r7.jpg" alt="Car" style="width:100%" height="200">
     
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r8.jpg" alt="Car" style="width:100%" height="200">
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r9.jpg" alt="Car" style="width:100%" height="200">
      
      
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r10.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>
<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r11.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r12.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r13.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r14.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r15.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r16.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r17.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r18.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r19.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<div class="column Trophy">
    <div class="content">
      <img src="./static/img/r20.jpg" alt="Car" style="width:100%" height="200">  
    </div>
  </div>

<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
</section>
</body>
</html>
